<% const existeMensaje = typeof mensaje !== "undefined"%>

<% const existeRol = typeof mensajeEvento!== "undefined"%>


<%- include('header'); %>
<!--<link rel="stylesheet" href="/bootstrap/css/bootstrap.css"> -->
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<% if (existeMensaje){%>
<p>MENSAJE: <%=mensaje%></p>
<%}%>

<% if (existeRol){%>
<p>MENSAJE: <%=mensajeEvento%></p>
<%}%>




<div class="container" >
    <h1 align="center">Asignar eventos </h1>
    <div class="row">
        <div class="col-sm-4" align="center">

            <table >MEDICAMENTO
                <tr>
                    <td><%= medicamento.nombreMedicamento %></td>
                </tr>
                <tr>
                    <td><%= medicamento.gramosAIngerir %></td>
                </tr>
                <tr>
                    <td><%= medicamento.composicion %></td>
                </tr>
                <tr>
                    <td><%= medicamento.usadoPara %></td>
                </tr>
                <tr>
                    <td><%= medicamento.fechaCaducidad %></td>
                </tr>
                <tr>
                    <td><%= medicamento.numeroPastillas %></td>
                </tr>
            </table>

        </div>


        <div class="col-sm-4" align="center">

            <table >
                EVENTOS - MEDICAMENTO
                <%eventoMedicamento.forEach((evento)=> { %>
                    <tr>
                        <td><%= evento.evento.nombreEvento%></td>
                        <td>
                            <form action="/evento-por-medicamento/borrar/<%=paciente%>/<%= evento.id %>" method="POST">
                                <button type="submit"> eliminar </button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </table>

        </div>

        <div class="col-sm-4" align="center">

            <form action="/evento-por-medicamento/asignar-evento/<%=paciente%>/<%=medicamento.id%>" method="POST">
                <div>
                    <label for="evento"></label>
                    <select name="evento" id="evento">
                        <% evento.forEach( (eventoLista)=> { %>
                        <option value="<%=eventoLista.id%>">

                            <%=eventoLista.nombreEvento%></option>
                        <% }) %>
                    </select>
                </div>
                <br>
                <button>Agregar evento</button>
            </form>

        </div>

        <br>

    </div>

    <a href="/medicamento/inicio/<%=paciente%>/">
        <button class="btn btn-outline-info  espaciado-boton" >Regresar</button>
    </a>
</div>




    <%- include('footer'); %>

