<% const estaCreando = typeof medicamento === "undefined" %>
<% const existeMensaje = typeof mensaje !== "undefined" %>


<h1> <%= estaCreando ? 'Registrar' : 'Actualizar' %> Libro</h1>

<p><%= estaCreando ? 'Registre' : 'Actualice' %> Libro</p>

<% if (existeMensaje){ %>
<p>MENSAJE: <%= mensaje %></p>
<% } %>


<form
        action="/libros/<%= estaCreando ? 'crear' : 'actualizar' %>/<%= idAutor %>/<%= estaCreando ? '' : libro.id %>"
        method="POST">


    <div>
        <label for="idAutor"></label>
        <input
                id="idAutor"
                type="text"
                name="idAutor"
                value="<%= estaCreando ? '' : idAutor %>"
                hidden>
    </div>
    <br>

    <div>
        <label for="isbn">ISBN:</label>
        <input
                id="isbn"
                type="text"
                name="isbn"
                value="<%= estaCreando ? '' : libro.icbn_libro %>"
                required>
    </div>
    <br>
    <div>
        <label for="nombre">Nombre:</label>
        <input
                id="nombre"
                type="text"
                name="nombre"
                value="<%= estaCreando ? '' : libro.nombre_libro %>"
                required>
    </div>
    <br>
    <div>
        <label for="paginas">Número de páginas:</label>
        <input
                id="paginas"
                type="text"
                name="paginas"
                value="<%= estaCreando ? '' : libro.numero_paginas %>"
                required>
    </div>
    <br>
    <div>
        <label for="edicion">Edición:</label>
        <input
                id="edicion"
                type="text"
                name="edicion"
                value="<%= estaCreando ? '' : libro.edicion %>"
                required>
    </div>
    <br>
    <div>
        <label for="fechaPublicacion">Fecha de publicación:</label>
        <input
                id="fechaPublicacion"
                type="date"
                min="2019-02-07"
                max="2028-01-01"
                name="fechaPublicacion"
                value="<%= estaCreando ? '' : libro.fecha_publicacion %>"
                required>
    </div>
    <br>
    <div>
        <label for="editorial">Editorial:</label>
        <input
                id="editorial"
                type="number"
                name="editorial"
                value="<%= estaCreando ? '' : libro.nombre_editorial %>"
                required>
    </div>
    <br>
    <button>
        <%= estaCreando ? 'Crear' : 'Actualizar' %> Libro
    </button>

</form>

<a href="/libros/listar/<%= idAutor %>">
    <button>Regresar</button>
</a>