<% const existeMensaje = typeof mensaje !== "undefined" %>
<%- include('header'); %>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<% if (existeMensaje){ %>
<p>MENSAJE: <%= mensaje %></p>
<% } %>


<div class="container">
    <h1 align="center">Libros Registrados</h1>

    <form action="/libros/listar/<%= idAutor %>" method="GET">

        <label for="busqueda">Buscar Libros</label>
        <input id="busqueda" type="text" name="busqueda">
        <button>Buscar</button>

    </form>

    <a href="/libros/crear/<%= idAutor %>">
        <button>Agregar Libro</button>
    </a>

    <a href="/autores/listar">
        <button>Listar Autores</button>
    </a>


    <table class="table table-hover">
        <!-- tr -> table row -->
        <tr>
            <!-- th -> table header -->
            <th>ISBN</th>
            <th>Nombre</th>
            <th>Número de Páginas</th>
            <th>Edición</th>
            <th>Fecha de Publicación</th>
            <th>Editorial</th>
            <th>Acciones</th>
        </tr>
        <!-- tr -> table row -->
        <% arregloLibros.forEach(libro => { %>
        <tr>
            <!-- td -> table detail -->
            <td><%= libro.icbn_libro %></td>
            <td><%= libro.nombre_libro %></td>
            <td><%= libro.numero_paginas %></td>
            <td><%= libro.edicion %></td>
            <td><%= libro.fecha_publicacion %></td>
            <td><%= libro.nombre_editorial %></td>
            <td>
                <form action="/libros/borrar/<%= idAutor %>/<%= libro.id %>" method="POST">
                    <button class="btn btn-outline-info btn-block espaciado-boton" type="submit" type="submit">
                        Eliminar
                    </button>
                </form>
                <a href="/libros/actualizar/<%= idAutor %>/<%= libro.id %>">
                    <button class="btn btn-outline-info btn-block espaciado-boton" type="submit">Actualizar</button>
                </a>
                <a href="/evento-por-libro/emparejar/<%= idAutor %>/<%= libro.id %>">
                    <button
                            class="btn btn-outline-info btn-block espaciado-boton">Eventos
                    </button>
                </a>

            </td>
        </tr>
        <% }) %>
    </table>

</div>

<%- include('librerias') %>
