<% const existeMensaje = typeof mensaje !== "undefined"%>
<%- include('header'); %>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<% if (existeMensaje){%>
<p>MENSAJE: <%=mensaje%></p>
<%}%>


<div class="container">
    <h1 align="center">Lista de medicamentos</h1>

    <form action="/medicamento/inicio/<%=idPaciente%>" method="get">

        <label for="busquedaMedicamento">Búsqueda</label>
        <input id="busquedaMedicamento" type="text" name="busquedaMedicamento">
        <button >Buscar</button>

    </form>

    <a href="/medicamento/crear-Medicamento/<%=idPaciente%>">
        <button >Ingresar un nuevo medicamento</button>
    </a>

    <a href="/paciente/paciente">
        <button>Ver Pacientes </button>
    </a>


    <table class="table table-hover">
        <!-- tr -> table row -->
        <tr>
            <!-- th -> table header -->
            <th>Gramos a ingerir</th>
            <th>Nombre del medicamento</th>
            <th>Composición</th>
            <th>Usado para</th>
            <th>Fecha de caducidad</th>
            <th>Número de pastillas</th>
            <th>Acciones</th>
        </tr>
        <!-- tr -> table row -->
        <% arregloMedicamentos.forEach( (medicamentos)=> { %>
            <tr>
                <!-- td -> table detail -->
                <td><%= medicamentos.gramosAIngerir %></td>
                <td><%= medicamentos.nombreMedicamento %></td>
                <td><%= medicamentos.composicion %></td>
                <td><%= medicamentos.usadoPara %></td>
                <td><%= medicamentos.fechaCaducidad %></td>
                <td><%= medicamentos.numeroPastillas %></td>
                <td>
                    <form action="/medicamento/borrar/<%=idPaciente%>/<%= medicamentos.id %>" method="POST">
                        <button class="btn btn-outline-info btn-block espaciado-boton" type="submit" type="submit"> Eliminar</button>
                    </form>
                    <a href="/medicamento/actualizar-medicamento/<%=idPaciente%>/<%= medicamentos.id %>">
                        <button class="btn btn-outline-info btn-block espaciado-boton" type="submit">Actualizar</button>
                    </a>

                    <a href="/evento-por-medicamento/asignar-evento/<%=idPaciente%>/<%= medicamentos.id %>">
                        <button
                                class="btn btn-outline-info btn-block espaciado-boton">Observar eventos</button>
                    </a>

                </td>
            </tr>
        <% }) %>
    </table>

</div>


<%- include('librerias')%>
