<% const existeMensaje = typeof mensaje !== "undefined" %>
<%- include('header'); %>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<% if (existeMensaje){ %>
<p>MENSAJE: <%= mensaje %></p>
<% } %>

<div class="container">

    <h1 align="center">Eventos Registrados</h1>

    <form action="/eventos/listar" method="GET">

        <label for="busqueda">Buscar Eventos</label>
        <input id="busqueda" type="text" name="busqueda">

        <button>Buscar</button>
    </form>
    <a href="/eventos/crear">
        <button>Agregar Evento</button>
    </a>

    <table class="table table-striped table-dark">
        <!-- tr -> table row -->
        <tr>
            <!-- th -> table header -->
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Acciones</th>
        </tr>
        <!-- tr -> table row -->
        <% arregloEventos.forEach(evento => { %>
        <tr>
            <!-- td -> table detail -->
            <td><%= evento.nombre_evento %></td>
            <td><%= evento.fecha_evento %></td>
            <td><%= evento.longitud_evento %></td>
            <td><%= evento.latitud_evento %></td>
            <td>
                <form action="/eventos/eliminar/<%= evento.id %>" method="POST">
                    <button
                            class="btn btn-outline-info btn-block espaciado-boton" type="submit">
                        Eliminar
                    </button>
                </form>
                <a href="/eventos/actualizar/<%= evento.id %>">
                    <button class="btn btn-outline-info btn-block espaciado-boton" type="submit">
                        Actualizar
                    </button>
                </a>
            </td>
        </tr>
        <% }) %>
    </table>

    <a href="/autores/listar">
        <button class="btn btn-outline-info espaciado-boton" type="submit">
            Regresar
        </button>
    </a>
</div>

<%- include('librerias') %>